* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--blanco);
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  gap: var(--gap-max); /*espacio entre el sidebar y el main*/
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar {
  width: 67px;
  background-color: var(--verde);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px; /*espacio entre botones*/
  border: var(--border-estandar);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.icon-bar {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  
  /*le quito todos los estilos al boton*/
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
.icon-bar img {
    width: 35px; 
    height: 35px;
    z-index: 1; 
    transition: transform 0.2s ease;
}

.hover-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.icon-bar:hover .hover-effect {
    opacity: 1;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-min); /*espacio entre el search-bar y el contenido*/
}

.top-section {
  position: sticky;
  top: 0;
  /*height: 40px; elimine esto para que no me ponga un margen vertical que no quiero*/ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-max);
  z-index: 10;
  flex-shrink: 0;
}

.search-bar {
  width: max-content;
  display: flex;
  flex: 1;
  align-items: center;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background: var(--amarillo);
  border: var(--border-estandar);
}
.search-input {
  font-size: var(--h4);
  font-family: var(--nunito);
  color: var(--negro);
  outline: none;
  border: none;
  background: transparent;
}
.order-by{
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background: transparent;
  cursor: pointer;
  border: var(--border-estandar);
}
.order-by:hover{
  background-color: var(--amarillo);
  transition: opacity 0.3s ease;
}
.order img {
  transform: rotate(90deg);
}
.order-by p {
  font-family: var(--nunito);
  font-size: 16px; 
  color: var(--negro);
  margin-right: 5px;
}
.bottom-section {
  flex: 1;
  background-color: var(--blanco);
  overflow-y: auto;
  border: var(--border-estandar);
  padding: var(--padding-estandar);
}


