* {
    box-sizing: border-box;
}

form {
    width: 320px;
    margin: 50px,auto;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
}

input {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px ;
}

.label-usuario {
    margin-right: 205px;
}

.label-contraseña {
    margin-right: 185px;
}

#caja-usuario {
    margin-bottom: 15px;
}

#campo-loguearse {
    width: auto;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
