* {
    box-sizing: border-box;
}

form {
    width: 500px;
    height: 350px;
    margin: 50px,auto;
    text-align: center;
}

input {
    width: 52%;
    height: 30px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px ;
    border-radius: 5px;
    border: 2px solid var(--negro);
    background-color: transparent;
}

.label-usuario {
    margin-right: 205px;
    font-family: var(--nunito-bold);
    color: var(--negro);
}

.label-contraseña {
    margin-right: 179px;
    font-family: var(--nunito-bold);
    color: var(--negro);
}

#caja-usuario {
    margin-bottom: 20px;
}

#campo-loguearse {
    width: 15%;
    height: 10%;
    font-size: 16px;
    font-family: var(--nunito-bold);
    color: var(--negro);
    border-radius: 8px;
    border: 2px solid #555;
    background-color: var(--amarillo);
}

p {
    color: red;
    font-family: var(--nunito-bold);
}

p a {
    color: red;
    text-decoration: none;
}

p a:hover {
    color: var(--morado-oscuro);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/registro-fondo.png") no-repeat center center fixed ;
}


h1 {
    font-family:var(--nunito-bold);
    color: var(--negro);
    font-size: 45px;
}
