* {
    box-sizing: border-box;
}


form {
    width: 430px;
    height: 430px;
    margin: 50px,auto;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
}



input {
    width: 80%;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px ;
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #555;
}

input[type="date"] {
    width: 35%;
    margin-right: 200px;
    color: #6c757d;
}

.campo-registrarse {
    width: 100px;
    height: 50px;
    margin-bottom: 4px;
    background-color: var(--amarillo);
}

p {

    margin-top: 5px;
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

p a{
    color: red;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
}

h1 {
    margin-top: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
