:root {
    --verde: #b9d8b8;
    --amarillo: #f1cd71;
    --blanco: #f7f6ed;
    --negro: #47413e;
    --naranja: #fa6d48;
    --celeste: #a6cde4;
    --morado: #a096c8;

    --padding-pag-6px: 6px;
    --padding-estandar: 8px;
    --border-radius: 8px;
    --h4: 18px;
    --border-estandar: 2px solid var(--negro);
    --gap-min: 5px;
    --gap-max: 10px;

    --nunito: 'Nunito-Bold', sans-serif;
}
@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
