.sidebar {
  position: fixed;          /* fija la barra lateral */
  top: 5px;                 /* coincide con tu margen */
  left: 10px;
  width: 67px;
  height: calc(100vh - 10px); /* ocupa toda la altura visible */
  background-color: var(--verde);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: var(--border-estandar);
  border-radius: var(--border-radius);
  overflow: hidden;
  z-index: 1000; /* queda encima del resto */
}

.sidebar-top {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; /* Espacio entre logo y botones */
}

.logo {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.05);
}
.sidebar-middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espacio entre botones */
}

.sidebar-bottom {
  display: flex;
  justify-content: center;
  margin-top: auto; /* Empuja hacia abajo */
  padding-top: 20px; /* Espacio arriba del avatar */
  padding-bottom: 5px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease;
  border: var(--border-estandar);
}

.user-avatar:hover {
  transform: scale(1.05);
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.icon-bar {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  transition: all 0.3s ease;
}

.icon-bar img {
  width: 35px; 
  height: 35px;
  z-index: 1; 
  transition: transform 0.2s ease;
  margin-bottom: 5px;
}

.hover-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon-bar:hover .hover-effect {
  opacity: 1;
}







.dropdown-menu {
  position: fixed; 
  left: 85px; 
  top: 50%;
  transform: translateY(-50%);
  background: var(--blanco);
  border: var(--border-estandar);
  border-radius: 12px;
  padding: 8px;
  min-width: 200px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 100000; 
  margin-left: 0px;
  font-family: var(--nunito);
}


.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--negro);
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 15px 8px 15px 8px;
  text-decoration: none;
  color: var(--negro);
  transition: all 0.2s ease;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e8ebe3;
  border-radius: var(--border-radius);
}

.dropdown-item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
  display: none;
}

.overlay.show {
  display: block;
}

.sidebar-middle {
  position: relative;
}

.icon-bar.add {
  position: relative;
}

p {
  color: #252525;
  font-size: 10px;
  padding-left: 10px;
}








.form {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.form.show {
  display: flex;
}

.form-content {
  background: #fff;
  width: 320px;
  padding: 30px 30px 40px 30px; /**/
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-content h2 {
  margin: 0;
  font-size: 24px;
}

.form-content input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--gris2);
  font-size: 14px;
  font-family: var(--nunito);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.btn-cancel {
  background: transparent;
  cursor: pointer;
  color: var(--negro);
  font-family: var(--nunito);
  background: var(--gris1);
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
}

.btn-create {
  background: var(--amarillo);
  color: var(--negro);
  border: none;
  font-family: var(--nunito);
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}
