:root {
    --verde: #bddcbc;
    --verde-oscuro: #9fc59e;
    --amarillo: #f2cf7a;
    --amarillo-oscuro: #e8bf5a;
    --blanco: #faf9f2;
    --negro: #3f3a37;
    --naranja: #fa6d48;
    --naranja-oscuro: #e46545;
    --celeste: #a6cde4;
    --celeste-oscuro: #73a1b9;
    --azul: #4f9df0;
    --morado: #a096c8;
    --morado-oscuro: #73699b;
    --rojo: #f46a6a;
    --rojo-oscuro: #e94949;
    --error: #ac2b2b;
    --gris: #dfded5;
    --gris1: #ddd;
    --gris2: #ccc;
    --gris3: #666;
    --gris2: #494949;
    --padding-pag-6px: 6px;
    --padding-estandar: 8px;
    --border-radius: 8px;
    --h4: 18px;
    --border-estandar: 2px solid var(--negro);
    --gap-min: 5px;
    --gap-max: 10px;


    --nunito: 'Nunito-Bold', sans-serif;
    --nunito-light: 'Nunito-Light', sans-serif;
    --nunito-bold: 'Nunito-ExtraBold', sans-serif;
}

.btn-amarillo {
  display: flex;
  align-items: center;
  padding: var(--padding-pag-6px);
  border-radius: var(--border-radius);
  background: var(--amarillo);
  cursor: pointer;
  border: var(--border-estandar);
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-amarillo:hover {
  background-color: var(--amarillo-oscuro);
  transition: opacity 0.3s ease;
}

.btn-amarillo p {
  font-family: var(--nunito-light);
  font-size: 16px; 
  color: var(--negro);
  margin-right: 5px;
}



@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url('../fonts/Nunito/Nunito-Light.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}